* {
  box-sizing: border-box;
}
body {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;

  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
a {
  color: #fff;

  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*!        HEADER */
.header {
  padding-top: 64px;
}

.header__inner {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 39px;
}
.menu {
  display: flex;
}
.menu__items {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
	margin-right: 24px;
}

.menu__item-link {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* SOCIAL */
.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

/*! Main */
.main {
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}
.main-about {
  margin-bottom: 90px;

  position: relative;
}
.main-rating {
  margin-bottom: 10px;
}
.main-rating__title {
  margin-bottom: 16px;
}
.main-rating__stars {
  display: flex;
}
.main-rating__star {
  padding-right: 4px;
}
.main-rating__stars-number {
  padding-left: 5px;
}
.main-text {
}
.main-text__title {
  font-weight: 600;
  font-size: 76px;
  line-height: 91px;

  margin-bottom: 8px;
}
.main-text__subtitle {
  max-width: 530px;
  margin-bottom: 40px;
}
.main-text__button {
  background-color: #151515;
  border-radius: 8px;

  display: inline-block;
  padding: 22px 72px;
}
.main-button {
  border-radius: 50%;
  background-color: #391917;

  position: absolute;
  top: 33%;
  left: 70%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
}
.main-button__dark {
  border-radius: 50%;
  background-color: #151515;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

/*  MAIN_SLIDER */
.main-slider {
  max-width: 357px;
}
.main-slider__items {
}
.main-slider__item {
  border-radius: 8px;

  cursor: pointer;

  margin-right: 28px;
  width: 164px;
  height: 105px;
  padding-top: 87px;
  padding-left: 14px;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.slick-right {
  top: 45%;
  right: -28px;
}
.slick-arrow {
  cursor: pointer;

  position: absolute;
}

/*! FOOTER */
.footer {
  background-color: #030102;
}

/* FOOTER FLEXBOX */
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  min-height: 60px;
}

.footer-list {
  display: flex;
}

.footer-list-item:not(:last-child) {
  margin-right: 25px;
}

.footer-link {
	padding-top: 10px;
	padding-bottom: 10px;
}
